"""
    We are using django-env to get enviromnet variable.
    More details can be found here: https://django-environ.readthedocs.io/en/latest/
"""

DEBUG=1
SECRET_KEY=f$%5rw(n!g5y96jwp0(#zfuc)l%a*mi32i4qt2mz0jdt7^rs_h